<div class="card-group">
  <div class="row" style="display: flex;">


    <% @photos.each do |photo| %>
      <div class="col-6 col-md-4 text-center" style="margin: auto">
          <%= link_to photo, class: "photo-link" do %>
          <%= image_tag photo.image.url(:medium) %>
          <% end %>
          <br>
          <%= photo.description %><br>
          <% if photo.user == current_user %>
          <%= link_to 'Edit', edit_photo_path(photo) %> |
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
